Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
**/Content/Audio
**/Content/Characters/*
!**/Content/Characters/Mannequins/Animations/*
**/Content/Cursor
**/Content/StarterContent
**/Content/LevelPrototyping
Content/Blueprints/Input/Actions/IA_SetDestination_Click.uasset
Content/Blueprints/Input/Actions/IA_SetDestination_Touch.uasset
Content/TopDown/Maps/TopDownMap_BuiltData.uasset
Content/Blueprints/Character/Animation/CC_UniformIndexable.uasset
**/Effects
