Binaries
Config
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
**/Content/Characters
**/Content/Cursor
**/Content/StarterContent
**/Content/LevelPrototyping
**/Animations
Content/Blueprints/Input/Actions/IA_SetDestination_Click.uasset
Content/Blueprints/Input/Actions/IA_SetDestination_Touch.uasset
Content/TopDown/Maps/TopDownMap_BuiltData.uasset
